.btn--play,
.btn--video {
  cursor: pointer;
  width: 13.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 50px;
  margin-bottom: 1.7rem;
  padding: 0 1rem;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: inherit;
  transition: .3s;
}

.btn--play {
  background: white;
  color: #631ea8;
  border: none;
  margin-right: 1.5rem;
}

.btn--video {
  background: rgba(156, 156, 156, 0.165);
  color: rgb(156, 156, 156);
  border: 1px solid rgb(156, 156, 156);
}

.btn__img--play {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: .5rem;
}

.btn__img--video {
  width: 2.6rem;
  height: 2.6rem;
  margin-right: .75rem;
}

.btn__title {
  margin-top: 5px;
}

@media only screen and (max-width: 992px) {
  .btn--play {
    margin-right: 0;
  }
}
