.popup-video,
.popup-play {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 4rem auto;
  width: 35%;
  background-color: black;
  color: white;
  border-radius: 1rem;
  padding: 2rem 3rem 3rem;
  border: 1px solid white;
  box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 1rem var(--main-color), 0 0 0.5rem var(--main-color), 0 0 .7rem var(--main-color), inset 0 0 .6rem var(--main-color);
  z-index: 2;
}

.popup-play {
  width: 55rem;
  position: relative;
  padding-top: 1rem;
}

.popup-play popup-x {
  position: relative;
  right: -1.5rem;
  top: -0.25rem;
  padding-bottom: .5rem;
}

.popup-play .popup-container {
  display: flex;
  flex-wrap: wrap;
  align-items: first baseline;
  margin-bottom: 1rem;
}

.popup-play .popup__img-container {
  order: 1;
  width: 45%;
  position: absolute;
}

.popup-play .popup__text-container {
  order: 2;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.popup__play-form-container {
  order: 3;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.popup__play-form-container form {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0 .6rem;
}

.popup__play-form-container form > input {
  width: 43%;
}

.popup__play-form-container label {
  width: 100%;
}

.popup-play .popup__title,
.popup-play .popup__subtitle  {
  width: 45%;
}

.popup-container {
  width: 100%;
}

.popup__title {
  width: 100%;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.popup__subtitle {
  width: 100%;
  font-size: 1.15rem;
  margin: .5rem 0 0;
  font-weight: 400;
  color: #9f9f9f;
  text-align: center;
}

.popup__img {
  width: 100%;
  /* margin-bottom: 2rem; */
}

.popup-x {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.popup-x span {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.form  input {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  padding: .8rem .5rem;
  margin-bottom: 1rem;
  background-color: transparent;
  color: white;
  font-size: 1.05rem;
}

.form  input::placeholder {
  color: white;
  text-transform: capitalize;
}

.button__send {
  width: 100%;
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 1.1rem 2rem;
  margin-top: .5rem;
  font-size: 1rem;
}

@media only screen and (max-width: 992px) {
  .popup__play-form-container form,
  .popup__img-container,
  .popup-play .popup__img-container,
  .popup-play .popup__title, .popup-play .popup__subtitle,
  .popup__play-form-container form > input {
    width: 100%;
  }

  .popup-play .popup__text-container {
    margin-top: 1.5rem;
  }

  .popup-play .popup__img-container {
    position: initial;
  }

  .popup-play {
    padding: 2rem 3rem 3rem;
  }
  .popup-video, .popup-play {
    width: 60%;
    height: auto;
    overflow: initial;
  }

  .popup__title {
    font-size: 1.65rem;
  }

  .popup__subtitle {
    font-size: 1.05rem;
     margin: .5rem 0 .5rem;
  }
}

@media only screen and (max-width: 480px) {
  .popup-play .popup__text-container {
    margin-top: 0;
  }
   .popup-play {
    width: 85%;
    margin-top: 11rem;
  }

  .popup-video, .popup-play {
    width: 80%;
    padding: 1rem 1rem 2rem;
  }

  .popup__img {
    margin-top: .5rem;
    margin-bottom: 1rem;
  }

  .popup__subtitle {
    font-size: .95rem;
     margin: .5rem 0 .5rem;
  }

  .form {
    margin-top: .5rem;
  }
}

@media only screen and (max-height: 680px) {
  .popup-video, .popup-play {
    margin-top: 23rem;
  }

  .popup-video {
    margin-top: 15rem;
  }
}
